<article class="doc" data-elastic-name="article_content">
    {{#if (eq page.layout 'overview')}}
        {{> overview }}
    {{else if (eq page.layout '404')}}
        {{> 404 }}
    {{else}}
        {{#with page.title}}
            <h1 class="page">{{{this}}}</h1>
        {{/with}}
        {{{page.contents}}}
    {{/if}}
    {{> pagination}}
    {{#unless (eq page.layout '404')}}
        {{#if (and page.attributes.forum-category-link page.attributes.forum-category-name)}}
            {{> forum-info }}
        {{/if}}
        {{> feedback-form location='content' }}
    {{/unless}}
</article>
