<div class="cookie-bar fixed-bottom">
   <div class="container-max">
      <div class="row py-3" id="cookie-settings">
         <div class="col-12 col-md-8">
            <p>Our website uses cookies. Some of them are essential, others help us improve this website and your
            user experience. You can find further information about our use of cookies and your rights as a user in
             our <a class="text-appearance" href="/privacy-policy/" target="_blank">Privacy policy</a> and our
             <a class="text-appearance" href="/legal-disclosure/" target="_blank">Legal disclosure</a>.</p>

             <div>
              <span class="custom-control custom-switch custom-control-appearance d-md-inline-block mr-3"><input type="checkbox" id="necessary-group" disabled="disabled" class="custom-control-input"> <label for="necessary-group" class="custom-control-label">
                Essential
                </label></span><span class="custom-control custom-switch custom-control-appearance d-md-inline-block mr-3"><input type="checkbox" id="tracking-group" class="custom-control-input cookie-settings" source="statistics"> <label for="tracking-group" class="custom-control-label">
                Statistics
                </label></span><span class="custom-control custom-switch custom-control-appearance d-md-inline-block mr-3"><input type="checkbox" id="external-group" class="custom-control-input cookie-settings" source="external"> <label for="external-group" class="custom-control-label">
                External media
                </label></span><span class="custom-control custom-switch custom-control-appearance d-md-inline-block mr-3"><input type="checkbox" id="functional-group" class="custom-control-input cookie-settings" source="functional"> <label for="functional-group" class="custom-control-label">
                Functional
                </label></span> <a href="#" id="show-cookie-further-settings" class="text-appearance d-block d-md-inline-block">Further settings</a>
             </div>
         </div>
         <div class="col-12 col-md-4 pt-3 pt-md-0">
            <button class="btn btn-block btn-appearance cookie-accept-selection">
             Accept selection
            </button>
            <button class="btn btn-block btn-appearance cookie-accept">
              Accept all
            </button>
            <button class="btn btn-block btn-appearance cookie-deny">
              Reject all
            </button>
         </div>
      </div>
      {{> cookie-further-settings}}
      <!---->
   </div>
</div>
