<!DOCTYPE html>
<html lang="{{#if (eq page.attributes.lang 'de-de')}}de{{else}}en{{/if}}">
  <head>
{{> head defaultPageTitle='Untitled'}}
  </head>
  <body id="article-body" class="article{{#with (or page.attributes.role page.role)}} {{{this}}}{{/with}}">
{{> header}}
{{> body}}
{{> footer}}
  </body>
</html>
