<div class="feedback-form-{{location}}-wrapper">
    <div class="feedback-form-wrapper">
        <form class="feedback-form" action="" method="post">
            <div class="top">
                <h6 class="title">FEEDBACK</h6>
                <i class="pif-add close"></i>
            </div>

            <textarea placeholder="Enter your feedback here..." name="feedback" id="feedback"
                      rows="10"></textarea>
            <input type="hidden" name="location" value="{{location}}">

            <div class="opinion-wrapper">
                <button type="submit" class="opinion like" data-opinion="like">This documentation was useful</button>
                <button type="submit" class="opinion dislike" data-opinion="dislike">This documentation was not useful</button>
            </div>
        </form>
    </div>
</div>

<script>
  var Feedback = {
    page: '{{ page.title }}',
    space: 'AAAAFHhmz80',
    key: 'AIzaSyDdI0hCZtE6vySjMm-WEfRq3CPzqKqqsHI',
    token: 'H7zyIArazaYYgfAIsLkPigpFTJUv4IhgPCrosCyPbjY'
  }
</script>
