<div class="feedback-form-wrapper feedback-{{location}}">
    <form class="feedback-form" action="" method="post">
        <label for="feedback">Feedback</label><textarea name="feedback" id="feedback" cols="30" rows="10"></textarea>
        <input type="hidden" name="location" value="{{location}}">
        <input type="radio" name="opinion" value="good" checked>Like
        <input type="radio" name="opinion" value="bad">Dislike
        <input type="submit" value="Send feedback">
    </form>
</div>

<script>
  var Feedback = {
    page: '{{ page.title }}',
    space: 'AAAAFHhmz80',
    key: 'AIzaSyDdI0hCZtE6vySjMm-WEfRq3CPzqKqqsHI',
    token: 'H7zyIArazaYYgfAIsLkPigpFTJUv4IhgPCrosCyPbjY'
  }
</script>
