<footer class="footer">
  <div class="container">
    <div class="row footer-menu">
      <small class="col-12 col-md-3 order-12 flex-end order-lg-1 ml-md-auto ml-lg-0">© plentysystems AG 2021</small>
      <a href="https://www.plentymarkets.co.uk/blog/" target="_blank" class="col-12 col-md-3 col-lg-2 order-1 order-lg-2">Blog</a>
      <a href="https://www.plentymarkets.co.uk/company/contact/" target="_blank" class="col-12 col-md-3 col-lg-2 order-2 order-lg-3">Contact</a>
      <a href="https://www.plentymarkets.eu/unternehmen/agb/" target="_blank" class="col-12 col-md-3 col-lg-2 order-3 order-lg-4">Terms and conditions</a>
      <a href="https://www.plentymarkets.eu/unternehmen/impressum/" target="_blank" class="col-12 col-md-3 col-lg-2 order-4 order-lg-5">Legal disclosure</a>
    </div>
  </div>
  {{> cookie}}
</footer>
