<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">© plentysystems AG 2021</div>
      <div class="col-md-6">
        <div class="footer-menu">
          <a href="https://www.plentymarkets.co.uk/blog/" target="_blank"><span>Blog</span></a>
          <a href="https://www.plentymarkets.co.uk/company/contact/" target="_blank"><span>Contact</span></a>
          <a href="https://www.plentymarkets.eu/unternehmen/agb/" target="_blank"><span>Terms and conditions</span></a>
          <a href="https://www.plentymarkets.eu/unternehmen/impressum/" target="_blank"><span>Legal disclosure</span></a>
        </div>
      </div>
    </div>
  </div>
</footer>
