<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">© plentymarkets 2020</div>
      <div class="col-md-6">
        <div class="footer-menu">
          <a href="#"><span>Blog</span></a>
          <a href="#"><span>Contact</span></a>
          <a href="#"><span>Terms and conditions</span></a>
          <a href="#"><span>Legal disclosure</span></a>
        </div>
      </div>
    </div>
  </div>
</footer>
