<div class="admonitionblock note forum-info">
    <table>
        <tbody>
            <tr>
                <td class="icon">
                    <i class="fa icon-note" title="Note"></i>
                </td>
                <td class="content">
                    <div class="paragraph">
                        <section>
                            <p>{{ i18n page.attributes.lang 'forum_info' }}</p>
                        </section>
                        <section>
                            <a class="forum-info-link" href="{{page.attributes.forum-category-link}}" target="_blank">
                                {{ i18n page.attributes.lang 'forum_cta' }} {{page.attributes.forum-category-name}}
                            </a>
                        </section>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
