<header class="header">
  <nav class="navbar">
    <div class="container-lg">
      <a class="navbar-item" href="{{{or site.url (or siteRootUrl siteRootPath)}}}">
        <img src="https://cdn02.plentymarkets.com/pmsbpnokwu6a/plugin/2/plentymanual/images/_layout/plentyknowledge-logo.svg"
             alt="plentyKnowledge Logo" width="136" height="27">
      </a>
    </div>
  </nav>
</header>
