<header class="header">
    <nav class="navbar">
        <div class="container-fluid">
            {{> nav-toggle}}
            {{#if (eq site.url 'https://developers.plentymarkets.com/en-gb')}}
            {{> header-content-developers}}
            {{else}}
            {{> header-content-knowledge}}
            {{/if}}
        </div>
    </nav>
</header>
