<header class="header">
    <nav class="navbar">
        <div class="container-fluid">
            <div class="left">
                <a class="logo" href="https://plentymarkets.eu"><img src="_/img/plenty-logo.svg" alt="home-logo"></a>
                <a class="logo" href="{{ site.url }}"><img src="_/img/plenty-dev-text.svg" alt="home-logo-text"></a>
            </div>
            <div class="right">
                <div class="menu-wrapper">
                    <a href="">Guides</a>
                    <a href="">References</a>
                    <a href="">Manual</a>
                </div>
                <div class="search">
                    <img src="_/img/search.svg" alt="search">
                </div>
            </div>
        </div>
    </nav>
</header>
