<header class="header">
    <nav class="navbar">
        <div class="container-fluid">
            {{> nav-toggle}}
            <div class="left">
                <a class="logo" href="{{ site.url }}/index.html"><img src="/en-gb/_/img/plenty-logo.svg" alt="home-logo"></a>
                <a class="logo d-none d-lg-inline" href="{{ site.url }}/index.html"><img src="/en-gb/_/img/plenty-dev-text.svg" alt="home-logo-text"></a>
            </div>
            <div class="right">
                <div class="menu-wrapper">
                    <a class="menu-item" href="/en-gb/developers/main/plugin-architecture.html">Guides</a>
                    <div class="menu-item parent">References
                        <div class="submenu-wrapper">
                            <a class="submenu-item" href="/en-gb/plentymarkets-rest-api/index.html">plentymarkets REST API</a>
                            <a class="submenu-item" href="/en-gb/plentybase-rest-api/index.html">plentyBase REST API</a>
                            <a class="submenu-item" href="/en-gb/interface/stable7/index.html">Interface documentation</a>
                            <a class="submenu-item" href="/en-gb/plugin-ceres/5.0.0/index.html">Ceres documentation</a>
                            <a class="submenu-item" href="/en-gb/plugin-io/5.0.0/index.html">IO documentation</a>
                            <a class="submenu-item" href="/en-gb/plentyModules/stable7/versions.html">Active module versions</a>
                        </div>
                    </div>
                    <a class="menu-item" href="/en-gb/plentydevtool/main/plentydevtool-introduction.html">plentyDevTool</a>
                    <a class="menu-item" href="https://knowledge.plentymarkets.com/en" target="_blank">User manual</a>
                    <div class="dropdown menu-item">
                      <i class="fa-pif-language"></i>
                      <button class="dropdown-toggle"
                              id="langToggle"
                              data-toggle="dropdown"
                              aria-haspopup="true"
                              aria-expanded="false">EN
                      </button>
                      <div class="dropdown-menu submenu-item"
                           aria-labelledby="langToggle">
                      <a id="languagePath"><span id="langSelect" class="submenu-item">DE</span></a>
                      </div>
                    </div>
                <div class="search">
                     <div id="docsearch"></div>
                </div>
            </div>
        </div>
    </nav>
</header>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    var switchLanguageSearch = "/sls";
    var switchLanguagePage = "/slp";

    (function(window, document, undefined){
        window.onload = init;

        function init(){
          const langToggle = $("#langToggle");
          const langSelect = $("#langSelect");
          var newVal = langToggle[0].innerText;
          var oldVal = langSelect[0].innerText;
          var pageUrl = $(location).attr("href");
          var pathName = $(location)[0].pathname;
          langSelect.click(function(){
            langSelect[0].innerText = newVal;
            langToggle[0].innerText = oldVal;
            newVal = langToggle[0].innerText;
            oldVal = langSelect[0].innerText;
            pathName = newVal.concat(pathName);
          })

          $('#languagePath').click(function(){
           var pageUrl = $(location).attr("href");
           var pageUrlPath = pageUrl.split(pageUrl)[1];
           var baseValue = document.getElementById('langToggle').innerText.toLowerCase();
           var language = baseValue == 'en' ? baseValue + "-gb" : baseValue + "-de";
           const newPath = pageUrl.concat(language, pageUrlPath);
            console.log(baseValue);
            window.location.href = newPath;
          })}
        })(window, document, undefined);

    $(".navbarLangSwitchURL").click(function(){
        var pageUrl = $(location).attr("href");
        var pageUrlPath = pageUrl.split('.com')[1];
        var urlH;

        if( pageUrlPath.length > 4)
        {
            if( pageUrlPath.indexOf("/search/") > -1 )
            {
                if(pageUrlPath.indexOf("/sls/") > -1)
                    urlH = changeUrl(pageUrlPath, undefined);
                else
                    urlH = changeUrl(pageUrlPath, switchLanguageSearch);
                $(this).attr('href', urlH);
            }
            if( pageUrlPath.indexOf("/search/")  === -1 )
            {
                if(pageUrlPath.indexOf("/slp/") > -1)
                    urlH = changeUrl(pageUrlPath, undefined);
                else
                    urlH = changeUrl(pageUrlPath, switchLanguagePage);
                $(this).attr('href', urlH);
            }
        }
    });
</script>
