<header class="header">
    <nav class="navbar">
        <div class="container-fluid">
            {{> nav-toggle}}
            {{#if (eq site.url 'https://developers.plentymarkets.com/en-gb')}}
            {{> header-content-developers}}
            {{else}}
            {{> header-content-knowledge}}
            {{/if}}
        </div>
    </nav>
    <div class="searchbar">
      <form>
        <div>
          <input class="search-input" type="text" placeholder="">
          <i class="fa fa-search"></i>
        </div>
        <div>
          <input type="checkbox" id="scales" name="scales">
          <label for="scales">Nur Developers durchsuchen</label>
        </div>
      </form>
    </div>
</header>
