<header class="header">
    <nav class="navbar">
        <div class="container-fluid">
            <div class="left">
                <a class="logo" href="https://plentymarkets.eu"><img src="/en-gb/_/img/plenty-logo.svg" alt="home-logo"></a>
                <a class="logo" href="{{ site.url }}"><img src="/en-gb/_/img/plenty-dev-text.svg" alt="home-logo-text"></a>
            </div>
            <div class="right">
                <div class="menu-wrapper">
                    <a class="menu-item" href="">Guides</a>
                    <div class="menu-item parent">References
                        <div class="submenu-wrapper">
                            <a class="submenu-item" href="">Submenu item</a>
                            <a class="submenu-item" href="">Submenu item</a>
                            <a class="submenu-item" href="">Submenu item</a>
                            <a class="submenu-item" href="">Submenu item</a>
                        </div>
                    </div>
                    <a class="menu-item" href="">Manual</a>
                </div>
                <div class="search">
                    <img src="/en-gb/_/img/search.svg" alt="search">
                </div>
            </div>
        </div>
    </nav>
</header>
