<header class="header">
  <nav class="navbar">
    <div class="container-lg">
      <a class="logo" href="{{{or site.url (or siteRootUrl siteRootPath)}}}">
        {{#if page.home}}
          <img src="/de-de/_/img/plenty-logo.png" alt="home-logo">plentymarkets
        {{/if}}
      </a>
      <div class="right">
        <div class="search">
          <input type="text" placeholder="What are you looking for...">
          <img src="/de-de/_/img/search.png" alt="search">
        </div>
      </div>
    </div>
  </nav>
</header>
