<header class="header">
    <nav class="navbar">
        <div class="container-fluid">
            {{> nav-toggle}}
            <div class="left">
                <a class="logo" href="{{ site.url }}/index.html"><img src="/en-gb/_/img/plenty-logo.svg" alt="home-logo"></a>
                <a class="logo d-none d-lg-inline" href="{{ site.url }}/index.html"><img src="/en-gb/_/img/plenty-dev-text.svg" alt="home-logo-text"></a>
            </div>
            <div class="right">
                <div class="menu-wrapper">
                    <a class="menu-item" href="/en-gb/developers/main/plugin-architecture.html">Guides</a>
                    <div class="menu-item parent">References
                        <div class="submenu-wrapper">
                            <a class="submenu-item" href="/en-gb/plentymarkets-rest-api/index.html">plentymarkets REST API</a>
                            <a class="submenu-item" href="/en-gb/plentybase-rest-api/index.html">plentyBase REST API</a>
                            <a class="submenu-item" href="/en-gb/interface/stable7/index.html">Interface documentation</a>
                            <a class="submenu-item" href="/en-gb/plugin-ceres/5.0.0/index.html">Ceres documentation</a>
                            <a class="submenu-item" href="/en-gb/plugin-io/5.0.0/index.html">IO documentation</a>
                            <a class="submenu-item" href="/en-gb/plentyModules/stable7/versions.html">Active module versions</a>
                        </div>
                    </div>
                    <a class="menu-item" href="/en-gb/plentydevtool/main/plentydevtool-introduction.html">plentyDevTool</a>
                    <a class="menu-item" href="https://knowledge.plentymarkets.com/en" target="_blank">User manual</a>
                    <div class="menu-item parent">LG
                      <div class="submenu-wrapper">
                        <a class="submenu-item" href="/en-gb/plentymarkets-rest-api/index.html">EN</a>
                        <a class="submenu-item" href="/en-gb/plentybase-rest-api/index.html">DE</a>
                      </div>
                    </div>
                    <div class="show">
                      <a class="plenty-dropdown-toggle"
                         id="navbarLangToggle"
                         href="javascript:void(0);"
                         data-fn="dropdown-multilevel"
                         aria-haspopup="true"
                         aria-expanded="false">
                        <span class="plenticon-flag-{% if lang == "de" %}de{% else %}uk{% endif %}" aria-hidden="true">
                            <i></i>
                        </span>
                        <span class="sr-only">
                          { trans("PlentyManual::Manual.selectLanguage") }}
                            ({{ trans("PlentyDocs::Manual.thisLang") }})
                        </span>
                      </a>
                      <ul class="ul-right" aria-labelledby="navbarLangToggle">
                          <li class="">
                              <a class="navbarLangSwitchURL" href="/{% if lang == "de" %}en{% else %}de{% endif %}">
                                <span class="plenticon-flag-{% if lang == "de" %}uk{% else %}de{% endif %} mr-2" aria-hidden="true">
                                  <i></i>
                                </span>
                              {{ trans("PlentyDocs::Manual.otherLang") }}
                              </a>
                          </li>
                      </ul>
                    </div>
                <div class="search">
                     <div id="docsearch"></div>
                </div>
            </div>
        </div>
    </nav>
</header>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    var switchLanguageSearch = "/sls";
    var switchLanguagePage = "/slp";

    $(".navbarLangSwitchURL").click(function(){
        var pageUrl = $(location).attr("href");
        var pageUrlPath = pageUrl.split('.com')[1];
        var urlH;

        if( pageUrlPath.length > 4)
        {
            if( pageUrlPath.indexOf("/search/") > -1 )
            {
                if(pageUrlPath.indexOf("/sls/") > -1)
                    urlH = changeUrl(pageUrlPath, undefined);
                else
                    urlH = changeUrl(pageUrlPath, switchLanguageSearch);
                $(this).attr('href', urlH);
            }
            if( pageUrlPath.indexOf("/search/")  === -1 )
            {
                if(pageUrlPath.indexOf("/slp/") > -1)
                    urlH = changeUrl(pageUrlPath, undefined);
                else
                    urlH = changeUrl(pageUrlPath, switchLanguagePage);
                $(this).attr('href', urlH);
            }
        }
    });
</script>
