<div class="left">
    <a class="logo logo-knowledge" href="{{ site.url }}/index.html"><img src="{{ site.url }}/_/img/knowledge-logo.png" alt="home-logo"></a>
</div>

<div class="right">
    <div class="menu-wrapper">
        <a class="menu-item" href="https://developers.plentymarkets.com/" target="_blank">{{ i18n page.attributes.lang 'developers-documentation' }}</a>
        <div class="dropdown menu-item">
            <i class="fa-pif-language"></i>
            <button class="dropdown-toggle"
                    id="langToggle"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">EN
            </button>
            <div class="dropdown-menu submenu-item"
                aria-labelledby="langToggle">
            <a id="languagePath"><span id="langSelect" class="submenu-item">DE</span></a>
            </div>
        </div>
        <div id="search-icon">
          <span class="fa-stack">
              <i id="openSearch" class="fa fa-search fa-stack-1x"></i>
              <i id="closeSearch" class="fa fa-plus fa-stack-1x d-none"></i>
          </span>
        </div>
    </div>
</div>
<div id="searchbar" class="searchbar d-none">
  <form>
    <div>
      <input class="search-input" id="search-input" type="text" placeholder="Type at least one char" autocomplete="off">
      <i class="fa fa-search text-white"></i>
    </div>
    <div id="search-results"></div>
  </form>
</div>
