<div class="left">
    <a class="logo logo-plentyone" href="{{ site.url }}/index.html"><img src="{{ site.url }}/_/img/PlentyONE_Logo_White_RGB.svg" alt="home-logo"></a>
</div>

<div class="right">
    <div class="menu-wrapper">
        <a class="menu-item" href="/en-gb/developers/main/plugin-architecture.html">Guides</a>
        <a class="menu-item" href="https://pwa-docs.plentyone.com/" target="_blank">plentyShop PWA</a>
        <div class="menu-item parent">References
            <div class="submenu-wrapper">
                <a class="submenu-item" href="/en-gb/plentymarkets-rest-api/index.html">PlentyONE REST API</a>
                <a class="submenu-item" href="/en-gb/plentybase-rest-api/index.html">plentyBase REST API</a>
                <a class="submenu-item" href="/en-gb/interface/stable7/index.html">Interface documentation</a>
                <a class="submenu-item" href="/en-gb/plugin-ceres/5.0.0/index.html">Ceres documentation</a>
                <a class="submenu-item" href="/en-gb/plugin-io/5.0.0/index.html">IO documentation</a>
                <a class="submenu-item" href="/en-gb/plentyModules/stable7/versions.html">Active module versions</a>
            </div>
        </div>
        <a class="menu-item" href="/en-gb/plentydevtool/main/plentydevtool-introduction.html">plentyDevTool</a>
        <a class="menu-item" href="https://knowledge.plentymarkets.com/" target="_blank">User manual</a>
        <div class="dropdown menu-item">
          <button class="dropdown-toggle"
                  id="themeToggle"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false">
                  <i class="fa fa-paint-brush"></i> Theme
          </button>
          <div class="dropdown-menu submenu-item theme-dropdown" aria-labelledby="themeToggle">
              <span onclick="setTheme('theme-onyx')">Onyx</span>
              <span onclick="setTheme('theme-ivory')">Ivory</span>
          </div>
        </div>
        <div class="search">
            <div id="docsearch"></div>
        </div>
    </div>
</div>
