<header class="header">
    <nav class="navbar">
        <div class="container-fluid">
            {{> nav-toggle}}
            <div class="left">
                <a class="logo" href="{{ site.url }}/index.html"><img src="{{ site.url }}/_/img/test22.png" alt="home-logo"></a>
                <a class="logo d-none d-lg-inline" href="{{ site.url }}/index.html"><img src="{{ site.url }}/_/img/test44.png" alt="home-logo-text"></a>
            </div>
            <div class="right">
                <div class="menu-wrapper">
                    <a class="menu-item" href="/en-gb/developers/main/plugin-architecture.html">Guides</a>
                    <div class="menu-item parent">References
                        <div class="submenu-wrapper">
                            <a class="submenu-item" href="/en-gb/plentymarkets-rest-api/index.html">plentymarkets REST API</a>
                            <a class="submenu-item" href="/en-gb/plentybase-rest-api/index.html">plentyBase REST API</a>
                            <a class="submenu-item" href="/en-gb/interface/stable7/index.html">Interface documentation</a>
                            <a class="submenu-item" href="/en-gb/plugin-ceres/5.0.0/index.html">Ceres documentation</a>
                            <a class="submenu-item" href="/en-gb/plugin-io/5.0.0/index.html">IO documentation</a>
                            <a class="submenu-item" href="/en-gb/plentyModules/stable7/versions.html">Active module versions</a>
                        </div>
                    </div>
                    <a class="menu-item" href="/en-gb/plentydevtool/main/plentydevtool-introduction.html">plentyDevTool</a>
                    <a class="menu-item" href="https://knowledge.plentymarkets.com/en" target="_blank">User manual</a>
                </div>
                <div class="search">
                     <div id="docsearch"></div>
                </div>
            </div>
        </div>
    </nav>
</header>
