{{#with page.title}}
    <h1 class="page">{{{this}}}</h1>
    <div id="preamble">
        <div class="sectionbody">
            <div class="paragraph">
                <p>
                    Willkommen im Themenbereich Amazon. Hier findest du folgende Informationen:
                </p>
            </div>
            <div class="ulist" id="child-pages-list"></div>
        </div>
    </div>
{{/with}}