<aside class="facets sidebar" id="facets-sidebar">
    <fieldset class="sui-facet">
        <h3 data-i18n-key="components-title" class="sui-facet__title"></h3>
        <div class="sui-multi-checkbox-facet" id="facets-container"></div>
    </fieldset>
</aside>