<article class="doc">
    <div id="search-page">
        <div class="seach_text col-sm-8 text-left">
            <div class="search-result-container">{{ i18n page.attributes.lang 'search_query_label' }} <span id="searche"></span></div>
            <span id="searchnores"> {{ i18n page.attributes.lang 'loading_results' }} </span>
        </div>
    </div>
</article>