<div class="search_head row mb-3">
    <div class="seach_text col-sm-8 text-left">
        <div class="search-result-container">{{ i18n page.attributes.lang 'search_query' }} <span id="searche"></span></div>
        <span id="searchnores">0</span> {{ i18n page.attributes.lang 'search_results' }} (<span id="searchnotime">0</span> {{ i18n page.attributes.lang 'search_seconds' }})</span>
    </div>
    <div class="seach-text col-sm-4 text-right">
        <button class="filtering">{{ i18n page.attributes.lang 'search_sort_by_relevance' }}</button>
    </div>
</div>
<div id="search-page-results"></div>
<div id="search-page-pagination" class="text-center"></div>