<div class="toolbar" role="navigation">
    {{#with site.homeUrl}}
        <a href="{{{relativize this}}}" class="home-link{{#if @root.page.home}} is-current{{/if}}"></a>
    {{/with}}
    {{> breadcrumbs}}
    {{> page-versions}}
    <div class="toolbar-actions">
        {{#unless (eq page.layout '404')}}
            <a class="toolbar-action feedback-popup" href="javascript:void(0)"><i class="fa-pif-intercom"></i></a>
        {{/unless}}
            <a id="toggle-search" class="toolbar-action" href="javascript:void(0)"><i class="fa-pif-search"></i></a>
    </div>
</div>
