#banner {
    display: none;
}

@media screen and (min-width: 1024px) {
    html:has(body header .navbar .container-fluid #banner) {
        --navbar-height: calc(180 / var(--rem-base) * 1rem);
    }
        
    #banner {
        background-color: var(--note-color);
        color: var(--plentyWhite);
        display: unset;
        padding: 1rem;
        text-align: center;
        width: 100vw;
        z-index: 100;
        
        > a {
            color: var(--plentyWhite);
            text-decoration: underline;
        }
    }   
}