html,
body {
  height: 100%;
}

.main {
  flex: 1 0 auto;
  font-family: var(--source-sans-pro);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: var(--body-font-size);
  -webkit-text-size-adjust: 100%;
}

@media screen and (min-width: 1024px) {
  html {
    font-size: var(--body-font-size--desktop);
  }
}

body {
  background: var(--body-background);
  color: var(--body-font-color);
  font-family: var(--body-font-family);
  line-height: var(--body-line-height);
  margin: 0;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  opacity: 0.8;
}

a:active {
  background-color: none;
}

a.nav-link {
  padding: 0;
}

code,
kbd,
pre {
  font-family: var(--monospace-font-family);
  color: var(--color-white);
}

pre code {
  color: var(--color-white);
}

b,
dt,
strong,
th {
  font-weight: var(--body-font-weight-bold);
}

em em {
  /* stylelint-disable-line */
  font-style: normal;
}

strong strong {
  /* stylelint-disable-line */
  font-weight: normal;
}

button {
  cursor: pointer;
  font-family: inherit;
  font-size: 1em;
  line-height: var(--body-line-height);
  margin: 0;
}

button::-moz-focus-inner {
  border: none;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--grau-blau-sans);
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1rem;
}
