html:root {
    /* brand colors */
    --plentyBluesOne: #012E35;
    --plentyBluesTwo: #04485B;
    --plentyBluesThree: #008EBD;
    --plentyBluesFour: #5DC3F0;
    --plentyBluesFive: #AFDEF8;
    --plentyRedsOne: #7B1812;
    --plentyRedsTwo: #9E1B17;
    --plentyRedsThree: #D4021D;
    --plentyRedsFour: #F0A3AB;
    --plentyRedsFive: #F8CCCE;
    --plentyGreysOne: #374D55;
    --plentyGreysTwo: #5F767F;
    --plentyGreysThree: #839BA8;
    --plentyGreysFour: #AEC5D0;
    --plentyGreysFive: #D8E4EB;
    --plentyGreen: #4CAD33;
    --plentyBlack: #000;
    --plentyLightGrey: #F1F1F1;
    --plentyWhite: #FFF;
    /* supplementary colors */
    --plentyOrangesOne: #ED4109;
    --plentyOrangesTwo: #F7660A;
    --plentyOrangesThree: #E18114;
    --plentyOrangesFour: #F7A40A;
    --plentyOrangesFive: #EDB409;
    --plentyYellowsOne: #FFA60D;
    --plentyYellowsTwo: #E8AD0C;
    --plentyYellowsThree: #FFD500;
    --plentyYellowsFour: #E8DA0C;
    --plentyYellowsFive: #E2FF0D;
    /* back end icon colors */
    --terraAction: #FFDB4C;
    --terraActive: #3F54D0;
    --terraAdd: #6AD26A;
    --terraAlert: #F11539;
    --terraInfo: #24B3E0;
    --terraTransfer: #E468F3;
    --terraWarning: #FF873E;
    --terraBlack: #000;
    --terrayDarkGrey: #636671;
    --terraLightGrey: #D7D8DB;
    --terraWhite: #FFF;
}