.cookie-bar{
  background-color: var(--cookie-background);
  display: none;
}
.cookie-bar .privacy-settings {
  max-height: 50vh;
}
.container-max{
  z-index: auto;
  max-width: 1200px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.container-max p {
  color: var(--navbar-font-color);
}
.container-max a {
  color: var(--doc-font-color);
}
.cookie-bar .btn-appearance {
  color: var(--cookie-button-color);
  background-color: var(--cookie-button-background);
  border-color: var(--cookie-button-border);
}
.custom-control-label {
  color: var(--navbar-font-color);
}
#cookie-further-settings {
  display: none;
}
.cookie-bar .flex-fill, .cookie-bar .card-text {
  color: var(--plentyBluesTealBlue);
}

.cookie-bar .card-link {
  color: var(--plentyBluesPacificBlue);
}
