.feedback-form-wrapper textarea {
    width: 100%;
}

.feedback-form-wrapper {
    padding: 20px;
    background: var(--nav-background);
    border-radius: 5px;
}

.feedback-form-wrapper .feedback-content {
    margin-top: 30px;
}

.feedback-form-wrapper.feedback-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    display: none;
}