@font-face {
    font-family: 'Graublau Sans';
    font-style: normal;
    font-weight: 700;
    src: url(../font/graublausans-bold-webfont.woff2) format('woff2'),
    url('../font/graublausans-bold-webfont.woff') format('woff'),
    url('../font/graublausans-bold-webfont.svg#graublau_sansbold') format('svg');
}

@font-face {
    font-family: "plentymarkets-icon-font";
    src: url("../font/plentymarkets-icon-font.ttf") format("truetype"),
    url("../font/plentymarkets-icon-font.woff") format("woff"),
    url("../font/plentymarkets-icon-font.svg") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="pif-"], [class*=" pif-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'plentymarkets-icon-font' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pif-alert:before {
  content: "\e95a";
}
.pif-crm:before {
  content: "\e903";
}
.pif-global-marketing:before {
  content: "\e906";
}
.pif-onlineshop:before {
  content: "\e907";
}
.pif-order-management:before {
  content: "\e915";
}
.pif-payment:before {
  content: "\e916";
}
.pif-pim:before {
  content: "\e917";
}
.pif-plenty-bi:before {
  content: "\e918";
}
.pif-plenty-channel:before {
  content: "\e919";
}
.pif-plentypos:before {
  content: "\e91a";
}
.pif-plugin:before {
  content: "\e91b";
}
.pif-rest-api:before {
  content: "\e91c";
}
.pif-protection:before {
  content: "\e91d";
}
.pif-product-management:before {
  content: "\e91f";
}
.pif-close-search:before {
  content: "\e908";
}
.pif-dark-mode:before {
  content: "\e909";
}
.pif-highlighter:before {
  content: "\e90a";
}
.pif-home:before {
  content: "\e90b";
}
.pif-light-mode:before {
  content: "\e90c";
}
.pif-thumbs-up:before {
  content: "\e90e";
}
.pif-thumbs-down:before {
  content: "\e90f";
}
.pif-plentymarkets:before {
  content: "\e900";
}
.pif-add:before {
  content: "\e910";
}
.pif-minus:before {
  content: "\e911";
}
.pif-left:before {
  content: "\e912";
}
.pif-right:before {
  content: "\e913";
}
.pif-up:before {
  content: "\e914";
}
.pif-down:before {
  content: "\e920";
}
.pif-done:before {
  content: "\e921";
}
.pif-visible:before {
  content: "\e922";
}
.pif-hidden:before {
  content: "\e923";
}
.pif-more-horizontal:before {
  content: "\e924";
}
.pif-more-vertical:before {
  content: "\e925";
}
.pif-burger-menu:before {
  content: "\e926";
}
.pif-list:before {
  content: "\e927";
}
.pif-history:before {
  content: "\e928";
}
.pif-info:before {
  content: "\e929";
}
.pif-faq:before {
  content: "\e92a";
}
.pif-cancel:before {
  content: "\e92b";
}
.pif-live-streams:before {
  content: "\e92c";
}
.pif-process:before {
  content: "\e92d";
}
.pif-pen:before {
  content: "\e92e";
}
.pif-delete:before {
  content: "\e92f";
}
.pif-filter:before {
  content: "\e930";
}
.pif-cloud:before {
  content: "\e931";
}
.pif-cloud-off:before {
  content: "\e932";
}
.pif-grade-empty:before {
  content: "\e933";
}
.pif-grade-full:before {
  content: "\e934";
}
.pif-download:before {
  content: "\e935";
}
.pif-publish:before {
  content: "\e936";
}
.pif-archiv:before {
  content: "\e937";
}
.pif-arrow-both:before {
  content: "\e938";
}
.pif-barcode:before {
  content: "\e939";
}
.pif-bug:before {
  content: "\e93a";
}
.pif-calendar:before {
  content: "\e93b";
}
.pif-call-split:before {
  content: "\e93c";
}
.pif-developer-guide:before {
  content: "\e93d";
}
.pif-email:before {
  content: "\e93e";
}
.pif-eraser:before {
  content: "\e93f";
}
.pif-exit-to-app:before {
  content: "\e940";
}
.pif-intercom:before {
  content: "\e941";
}
.pif-link-variant:before {
  content: "\e942";
}
.pif-listing-blocks:before {
  content: "\e943";
}
.pif-lock:before {
  content: "\e944";
}
.pif-menu-book:before {
  content: "\e945";
}
.pif-order-picking:before {
  content: "\e946";
}
.pif-package-arrow:before {
  content: "\e947";
}
.pif-package-number:before {
  content: "\e948";
}
.pif-package-three:before {
  content: "\e949";
}
.pif-percentage:before {
  content: "\e94a";
}
.pif-phone:before {
  content: "\e94b";
}
.pif-picture:before {
  content: "\e94c";
}
.pif-printer:before {
  content: "\e94d";
}
.pif-qr-code:before {
  content: "\e94e";
}
.pif-quote:before {
  content: "\e94f";
}
.pif-sack-barrow-empty:before {
  content: "\e950";
}
.pif-sack-barrow:before {
  content: "\e951";
}
.pif-search:before {
  content: "\e952";
}
.pif-seminars:before {
  content: "\e953";
}
.pif-settings:before {
  content: "\e954";
}
.pif-sync:before {
  content: "\e955";
}
.pif-technical-support:before {
  content: "\e956";
}
.pif-sales-support:before {
  content: "\e957";
}
.pif-web:before {
  content: "\e958";
}
.pif-wifi:before {
  content: "\e959";
}
