footer {
  background: var(--plentyGreysLimedSpruce);
  padding: 30px 0 10px 0;
  font-size: 16px;
}

.footer-menu {
  text-align: right;
}

.footer-menu a {
  color: var(--footer-link-font-color);
  margin-left: 20px;
}
