footer {
  padding: 10px 0;
  font-family: 'Sen', sans-serif;
  font-size: 16px;
  margin-top: 20px;
}

.footer-menu {
  text-align: right;
}

.footer-menu a {
  color: var(--primary-color);
  margin-left: 20px;
}
