html.is-clipped--navbar {
  overflow-y: hidden;
}

body {
  padding-top: var(--navbar-height);
}

.navbar {
  background: var(--primary-color);
  color: var(--navbar-font-color);
  font-size: calc(16 / var(--rem-base) * 1rem);
  height: var(--navbar-height);
  position: fixed;
  top: 0;
  width: 100%;
  word-wrap: break-word;
  z-index: var(--z-index-navbar);
  padding: 0;
}

.navbar .logo img {
  height: 100%;
  width: 80px;
}

.navbar a {
  text-decoration: none;
  color: var(--navbar-font-color);
  font-weight: var(--version-font-weight);
}

.search {
  position: relative;
}

@media screen and (min-width: 1024px) {
  .search {
    padding-left: 25px;
    border-left: 1px solid white;
    margin-left: 25px;
  }
}

.search input {
  background: none;
  border: 0;
  border-bottom: 2px solid white;
  width: 250px;
  padding: 3px 0;
  color: white;
  outline: none;
}

.search input::placeholder {
  color: lightgray;
}

.search img {
  width: 18px;
  height: 30px;
}

@media screen and (min-width: 1024px) {

  .navbar-end > .navbar-item,
  .navbar-end .navbar-link {
    color: var(--navbar-font-color);
  }

  .navbar-end > a.navbar-item:hover,
  .navbar-end .navbar-link:hover {
    background: var(--navbar_hover-background);
    color: var(--navbar-font-color);
  }

  .navbar-end .navbar-link::after {
    border-color: var(--navbar-font-color);
  }

  .navbar-item.has-dropdown:hover .navbar-link {
    background: var(--navbar_hover-background);
    color: var(--navbar-font-color);
  }
}

.navbar-menu {
  display: none;
}

.navbar-item,
.navbar-link {
  color: var(--navbar-menu-font-color);
  display: block;
  line-height: var(--doc-line-height);
  padding: 0.5rem 1rem;
  position: relative;
}

.navbar-item.has-dropdown {
  padding: 0;
}

.navbar-item .icon {
  width: 1.1rem;
  height: 1.1rem;
  display: block;
}

.navbar-link {
  padding-right: 2.5em;
}

.navbar-dropdown .navbar-item {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.navbar-divider {
  background-color: var(--navbar-menu-border-color);
  border: none;
  height: 1px;
  margin: 0.25rem 0;
}

@media screen and (max-width: 1023px) {

  .navbar-menu {
    background: var(--navbar-menu-background);
    padding: 0.5rem 0;
  }

  .navbar-menu.is-active {
    display: block;
    box-shadow: 0 8px 16px rgba(10, 10, 10, 0.1);
    max-height: var(--nav-height);
    overflow-y: auto;
  }

  .navbar-menu a.navbar-item:hover,
  .navbar-menu .navbar-link:hover {
    background-color: var(--navbar-menu_hover-background);
  }
}

@media screen and (min-width: 1024px) {

  .navbar,
  .navbar-menu,
  .navbar-end {
    align-items: stretch;
    display: flex;
  }

  .navbar-item,
  .navbar-link {
    align-items: center;
    display: flex;
  }

  .navbar-item.has-dropdown {
    align-items: stretch;
  }

  .navbar-item.is-hoverable:hover .navbar-dropdown {
    display: block;
  }

  .navbar-link::after {
    border-width: 0 0 1px 1px;
    border-style: solid;
    content: " ";
    display: block;
    height: 0.5em;
    pointer-events: none;
    position: absolute;
    transform: rotate(-45deg);
    width: 0.5em;
    margin-top: -0.375em;
    right: 1.125em;
    top: 50%;
  }

  .navbar-menu {
    flex-grow: 1;
  }

  .navbar-end {
    justify-content: flex-end;
    margin-left: auto;
  }

  .navbar-dropdown {
    background-color: var(--navbar-menu-background);
    border: 1px solid var(--navbar-menu-border-color);
    border-top: none;
    border-radius: 0 0 0.25rem 0.25rem;
    display: none;
    top: 100%;
    left: 0;
    min-width: 100%;
    position: absolute;
  }

  .navbar-dropdown .navbar-item {
    padding: 0.5rem 1rem;
    white-space: nowrap;
  }

  .navbar-dropdown .navbar-item:last-child {
    border-radius: inherit;
  }

  .navbar-dropdown a.navbar-item {
    padding-right: 3rem;
  }

  .navbar-dropdown.is-right {
    left: auto;
    right: 0;
  }

  .navbar-dropdown a.navbar-item:hover {
    background-color: var(--navbar-menu_hover-background);
  }
}

.navbar .button {
  display: inline-flex;
  align-items: center;
  background: var(--navbar-button-background);
  border: 1px solid var(--navbar-button-border-color);
  border-radius: 0.15rem;
  height: 1.75rem;
  color: var(--navbar-button-font-color);
  padding: 0 0.75em;
  white-space: nowrap;
}

.navbar .left {
  margin-left: 20px;
}

.dropdown {
  margin-left: 20px;
  padding: 5px;
}
.dropdown:hover .dropdown-menu {display: block;}

.dropdown-menu {
  top: 60%;
  left: 20px;
  cursor: pointer;
  background: var(--dropdown-background-color);
  color: white;
  padding: 10px;
  min-width: unset;
}

button:focus {
  outline: none;
  box-shadow: none;
}

.dropdown-toggle {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
.dropdown-toggle:after {
  display: none;
}
.fa-pif-language {
  margin-right: 7px;
}

@media screen and (max-width: 890px) {
  .navbar .left {
    margin: 0 auto;
  }
}

.navbar .left .logo img {
  width: auto;
  height: 35px;
}

.navbar .left .logo-knowledge img {
  height: 80px!important;
}

.navbar .left .logo:last-child img {
  border-left: 1px solid white;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
}

.navbar .right {
  display: flex;
  margin-right: 30px;
}

@media screen and (max-width: 769px) {
  .navbar .right {
    margin: 0 auto;
    margin-top: 10px;
  }
}

.navbar .right .menu-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.navbar .right .menu-wrapper .menu-item {
  margin-left: 20px;
  padding: 5px;
}

.navbar .right .menu-wrapper .submenu-wrapper {
  display: none;
  position: absolute;
  flex-wrap: wrap;
  flex-direction: column;
  background: var(--navbar-dropdown-background);
  padding: 10px;
  border-radius: 5px;
  transform: translateX(-10px);
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
}

.navbar .right .menu-wrapper .submenu-wrapper .submenu-item{
  color: var(--plenty-secondaries-white);
}

.navbar .right .menu-wrapper .submenu-wrapper .submenu-item:not(:first-of-type) {
  margin-top: 15px;
}

.navbar .right .menu-wrapper .parent:after {
  display: block;
  content: "";
  background: transparent url(../img/caret.svg) no-repeat center / 50%;
  border: none;
  outline: none;
  line-height: inherit;
  position: absolute;
  height: 1.35em;
  width: 1.35em;
  font-size: 12px;
  right: -15px;
  transform: rotate(90deg);
  top: 7px;
}

.navbar .right .menu-item.parent {
  position: relative;
  margin-right: 15px;
  color: var(--navbar-font-color);
  font-weight: var(--version-font-weight);
}

.navbar .right .menu-item.parent:hover {
  cursor: pointer;
}

.navbar .right .menu-item.parent:hover .submenu-wrapper {
  display: flex;
  width: max-content;
}

.navbar .search-wrapper {
  position: absolute;
  top: 100px;
  left: 0;
  width: 100vw;
}

@media screen and (max-width: 625px) {
  .navbar .search {
    position: absolute;
    right: 0;
    top: 0;
    margin: 15px;
  }
}

.navbar .search-wrapper .algolia-autocomplete {
  width: 100vw;
}

.navbar .search-wrapper .algolia-autocomplete input {
  width: 100%;
  padding: 10px;
}

.searchbar {
  background: #D8E4EB;
  display: none;
}

.searchbar form {
  height: 90px;
  margin: 0 50px;
  background: inherit;
  display: flex;
  flex-direction: column;
}

.searchbar form input.search-input {
  border: 0;
  border-bottom: 1px solid white;
  background: inherit;
  color: #374D55;
  flex-grow: 9;
  height: 50%;
  width: calc(100% - 24px);
}

.searchbar form input:focus {
  outline: none;
}

.searchbar form input.checkbox {
  height: fit-content;
  vertical-align: middle;
}

.searchbar form i {
  line-height: 45px;
  height: fit-content;
}

.searchbar form label {
  font-size: 12px;
}

#search-icon {
  cursor: pointer;
}

#search-icon .fa-stack .fa.fa-plus.fa-stack-1x {
  transform: rotate(45deg);
  position: relative;
  top: 3px;
  left: -4px
}
