.black {
  color: #000000;
}

.blue {
  color: #3f54d0;
}

.darkGrey {
  color: #636671;
}

.green {
  color: #6ad26a;
}

.lightGrey {
  color: #D7D8DB;
}

.orange {
  color: #ff873e;
}

.purple {
  color: #e468f3;
}

.red {
  color: #f11539;
}

.skyBlue {
  color: #24b3e0;
}

.white {
  color: #FFFFFF;
}

.yellow {
  color: #ffdb4c;
}
