.black {
  color: var(--terra-black);
}

.blue {
  color: var(--terra-active);
}

.darkGrey {
  color: var(--terray-darkGrey);
}

.green {
  color: var(--terra-add);
}

.lightGrey {
  color: var(--terra-lightGrey);
}

.orange {
  color: var(--terra-warning);
}

.purple {
  color: var(--terra-transfer);
}

.red {
  color: var(--terra-alert);
}

.skyBlue {
  color: var(--terra-info);
}

.white {
  color: var(--terra-white);
}

.yellow {
  color: var(--terra-action);
}
