:root {
  /* colors */
  --primary-color: var(--white);
  /* base */
  --body-background: var(--plentyLightGrey);
  /* header */
  --dropdown-background-color: var(--plentyRedsThree);
  /* nav */
  --nav-background: var(--plentyRedsThree);
  /* navbar */
  --navbar-font-color: var(--black);
  --navbar-dropdown-background: var(--plentyRedsThree);
  /* search */
  --searchbar-background: var(--plentyGreysFive);
  --searchbar-text-placeholder: var(--plentyGreysOne);
  --searchbar-text-input: var(--plentyGreysOne);
  --search-submit-button: var(--black);
  --search-suggestions-background: var(--white);
  --search-suggestions-text: var(--black);
  --search-suggestions-hover: var(--plentyRedsThree);
  --search-result-query: var(--plentyRedsThree);
  --search-result-about: var(--plentyGreysTwo);
  --search-result-title: var(--plentyRedsThree);
  --search-result-description: var(--plentyGreysOne);
  --search-result-url: var(--plentyGreysTwo);
  --search-result-divider: var(--plentyGreysTwo);
  --search-result-sort-background: var(--plentyRedsThree);
  --search-result-sort-border: var(--plentyRedsThree);
  --search-result-sort-text: var(--white);
  --search-pagination-shadow: var(--plentyGreysTwo);
  --search-pagination-active-background: var(--plentyRedsThree);
  --search-pagination-active-text: var(--white);
  --search-pagination-inactive-background: var(--white);
  --search-pagination-inactive-text: var(--black);
  /* toolbar */
  --toolbar-font-color: var(--black);
  --toolbar-action-background: var(--plentyRedsThree);
  --toolbar-action-color: var(--white);
  /* toc */
  --toc-font-color: var(--black);
  --toc-background-color: var(--white);
  --toc-heading-font-color: var(--doc-font-color);
  --toc-left-border: var(--plentyRedsThree);
  --toc-focused-color: var(--doc-font-color);
  /* doc */
  --doc-font-color: var(--plentyBluesThree);
  --doc-paragraph-color: var(--black);
  --heading-font-color: var(--doc-font-color);
  --link-font-color: var(--white);
  --link_unresolved-font-color: var(--plentyBluesThree);
  --tabs-background-color-is-active: var(--plentyRedsThree);
  --tabs-background-color: var(--white);
  --tabs-text-color-is-active: var(--white);
  --tabs-text-color: var(--plentyRedsThree);
  --table-row-even: var(--white);
  --table-heading-color: var(--plentyRedsThree);
  --table-header-background-color: var(--white);
  --table-borders-color: var(--plentyBluesThree);
  --admonition-background: var(--white);
  --collapsebox-background-color: var(--white);
  --collapsebox-text-color: var(--black);
  --example-background: var(--plentyLightGrey);
  /* footer */
  --footer-background-color: var(--plentyGreysOne);
  --footer-link-font-color: var(--white);
  --footer-link-hover-color: var(--link_hover-font-color);

  /* feedback-form */
  --feedback-form-background: var(--white);
  --feedback-form-textarea-background: var(--white);
  --feedback-form-textarea-border: var(--plentyLightGrey);
  --feedback-form-textarea-color: var(--black);
  --feedback-form-button-background-like: var(--white);
  --feedback-form-button-color-like: var(--plentyBluesThree);
  --feedback-form-button-border-like: var(--plentyBluesThree);
  --feedback-form-button-background-dislike: var(--white);
  --feedback-form-button-color-dislike: var(--plentyRedsThree);
  --feedback-form-button-border-dislike: var(--plentyRedsThree);
}
