:root {
  /* colors */
  --primary-color: var(--plenty-secondaries-white);
  /* base */
  --body-background: var(--plentyLightGrey);
  /* header */
  --dropdown-background-color: var(--plentyRedCrimson);
  /* nav */
  --nav-background: var(--plentyRedCrimson);
  /* navbar */
  --navbar-font-color: var(--black);
  --navbar-dropdown-background: var(--plentyRedCrimson);
  /* search */
  --searchbar-background: #D8E4EB;
  --searchbar-text-placeholder: #374D55;
  --searchbar-text-input: #374D55;
  --search-suggestions-background: #fff;
  --search-suggestions-text: #0a1927;
  --search-suggestions-hover: #D4021D;
  --search-result-query: #D4021D;
  --search-result-about: #5F767F;
  --search-result-title: #D4021D;
  --search-result-description: #374D55;
  --search-result-url: #5F767F;
  --search-result-divider: grey;
  --search-result-sort-background: #D4021D;
  --search-result-sort-border: #D4021D;
  --search-result-sort-text: white;
  --search-pagination-shadow: #888888;
  --search-pagination-active-background: #D4021D;
  --search-pagination-active-text: #fff;
  --search-pagination-inactive-background: #fff;
  --search-pagination-inactive-text: black;
  /* toolbar */
  --toolbar-font-color: var(--black);
  --toolbar-action-background: var(--plentyRedCrimson);
  --toolbar-action-color: var(--color-white);
  /* toc */
  --toc-font-color: var(--black);
  --toc-background-color: var(--plenty-secondaries-white);
  --toc-heading-font-color: var(--doc-font-color);
  --toc-left-border: var(--plentyRedCrimson);
  --toc-focused-color: var(--doc-font-color);
  /* doc */
  --doc-font-color: var(--plentyBluesPacificBlue);
  --doc-paragraph-color: var(--black);
  --heading-font-color: var(--doc-font-color);
  --link-font-color: var(--plenty-secondaries-white);
  --link_unresolved-font-color: var(--plentyBluesPacificBlue);
  --tabs-background-color-is-active: var(--plentyRedCrimson);
  --tabs-background-color: var(--color-white);
  --tabs-text-color-is-active: var(--color-white);
  --tabs-text-color: var(--plentyRedCrimson);
  --table-row-even: var(--color-white);
  --table-heading-color: var(--plentyRedCrimson);
  --table-header-background-color: var(--color-white);
  --table-borders-color: var(--plentyBluesPacificBlue);
  --admonition-background: var(--color-white);
  --collapsebox-background-color: var(--color-white);
  --collapsebox-text-color: var(--black);
  --example-background: var(--plentyLightGrey);
  /* footer */
  --footer-background-color: var(--plentyGreysLimedSpruce);
  --footer-link-font-color: var(--plenty-secondaries-white);
  --footer-link-hover-color: var(--link_hover-font-color);

  /* feedback-form */
  --feedback-form-background: var(--color-white);
  --feedback-form-textarea-background: var(--color-white);
  --feedback-form-textarea-border: var(--plentyLightGrey);
  --feedback-form-textarea-color: var(--black);
  --feedback-form-button-background-like: var(--color-white);
  --feedback-form-button-color-like: var(--plentyStrongCyan);
  --feedback-form-button-border-like: var(--plentyStrongCyan);
  --feedback-form-button-background-dislike: var(--color-white);
  --feedback-form-button-color-dislike: var(--plentyRedCrimson);
  --feedback-form-button-border-dislike: var(--plentyRedCrimson);
}
