@media screen and (min-width: 1024px) {
    .searchbar form{
      max-height: 45px;
    }
  }
@media screen and (max-width: 1023px) {
  body {
    padding-top: var(--navbar-height--mobile);
  }
  .navbar {
    height: var(--navbar-height--mobile);
  }

  .dropdown-menu.theme-dropdown {
    left: 0px;
  }
  .mobile-no-scroll {
    position: fixed;
  }

  .searchbar form {
      position: fixed;
      top: calc(var(--navbar-height--mobile) + var(--toolbar-height));
      right: 0;
      bottom: 0;
      left: 0;
      margin: 0;
      padding: 5rem;
      z-index: 9999;
  }

  .searchbar form input.search-input {
      border-bottom: 1px solid #374d55;
  }

  aside.facets.sidebar {
    position: fixed;
    top: calc(var(--navbar-height--mobile) + var(--toolbar-height));
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
  }

  .facets.sidebar .sui-multi-checkbox-facet {
    width: 100%;
    height: 100vh;
    margin: 0;
  }
}
