.searchbar{
  background: var(--searchbar-background);
  display: flex;
  justify-content: space-between;
  margin-left: calc(var(--nav-width) + 1rem);
  width: 100%;
}
.searchbar form{
  background: inherit;
  display: flex;
  flex-direction: column;
  width: -webkit-fill-available;
  margin-left: 50px;
  margin-right: 1rem;
}
.searchbar form input.search-input{
  border: 0;
  background: inherit;
  color: var(--searchbar-text-input);
  flex-grow: 9;
  width: calc(100% - 55px);
}
.searchbar form input:focus {
  outline: none;
}
.searchbar form i {
  line-height: 45px;
  height: fit-content;
}
.searchbar form button.searchSubmitButton{
  background: inherit;
  border: none;
  padding: 0;
  color: var(--search-submit-button);
}
#the-results{
  padding: 5px;
  background: var(--search-suggestions-background);
  color: var(--search-suggestions-text);
}
#the-results a{
  display: block;
  padding: 5px;
}
#the-results a:not(:last-child){
  border-bottom: 1px solid;
}
#the-results a:hover{
  color: var(--search-suggestions-hover);
}
#search-input::-webkit-input-placeholder {
  color: var(--searchbar-text-placeholder);
}
#search-page-results .the-search-result{
  padding: 20px 0;
  display: block;
  border-bottom: 1px solid var(--search-result-divider);
}
#search-page-results .the-search-result::before{
  content: "";
  padding: 0;
}
.result-title{
  color: var(--search-result-title);
  font-size: 20px;
  line-height: 24px;
  display: block;
  font-weight: bold;
}
.result-description{
  color: var(--search-result-description);
  font-size: 16px;
  line-height: 24px;
  display: block;
  margin: 1rem;
}

.result-url{
  color: var(--search-result-url);
  display: block;
  font-style: italic;
  font-size: 16px;
}
.filtering{
  border: 1px solid var(--search-result-sort-background);
  background: var(--search-result-sort-border);
  color: var(--search-result-sort-text);
  padding: 10px 20px;
  font-weight: bold;
  font-size: 16px;
}
.search-result-container{
  font-size: 32px;
  line-height: 36px;
}
#searche{
  color: var(--search-result-query);
}
.search-about{
  font-size: 16px;
  color: var(--search-result-about);
}
#search-page-pagination{
  margin-top: 50px;
}
#search-page-pagination a:not(.previous):not(.next){
  font-size: 18px;
  line-height: 10px;
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  height: 32px;
  border-radius: 5px;
  background: var(--search-pagination-inactive-background);
  padding: 10px;
  -webkit-box-shadow: 5px 10px 18px var(--search-pagination-shadow);
  box-shadow: 2px 3px 5px var(--search-pagination-shadow);
  color: var(--search-pagination-inactive-text);
  font-weight: bold;
  margin-left: 10px;
  cursor: pointer;
}
#search-page-pagination a.next{
  color: var(--search-pagination-inactive-text);
  margin-left: 20px;
  font-size: 20px;
}

#search-page-pagination a.previous{
  color: var(--search-pagination-inactive-text);
  margin-right: 10px;
  font-size: 20px;
}

#search-page-pagination a.active{
  color: var(--search-pagination-active-text) !important;
  background: var(--search-pagination-active-background) !important;
}

#search-icon{
  margin-top: -4px;
}
