:root.theme-blue {
  /* theme colors */
  --primary-color: var(--plentyBluesThree);
  --secondary-color: var(--plentyWhite);
  --highlight-color: var(--plentyBluesOne);
  --accent-color: var(--plentyGreysFive);
  /* font colors */
  --primary-font-color: var(--plentyWhite);
  --secondary-font-color: var(--plentyBlack);
  /* admonition colors */
  --caution-color: var(--plentyRedsThree);
  --important-color: var(--plentyOrangesThree);
  --note-color: var(--plentyBluesThree);
  --tip-color: var(--plentyGreen);
  --warning-color: var(--plentyYellowsThree);
  /* highlightjs colors: a11y-light theme
  Based on the Tomorrow Night Eighties theme: https://github.com/isagalaev/highlight.js/blob/master/src/styles/tomorrow-night-eighties.css
  @author: ericwbailey */
  --hljs-background: #fefefe;
  --hljs-font-color: #545454;
  --hljs-comment: #696969;
  --hljs-red: #d91e18;
  --hljs-orange: #aa5d00;
  --hljs-yellow: #aa5d00;
  --hljs-green: #008000;
  --hljs-blue: #007faa;
  --hljs-purple: #7928a1;
}
