.toolbar {
  color: var(--toolbar-font-color);
  align-items: center;
  display: flex;
  font-size: var(--toolbar-actions-font-size);
  height: var(--toolbar-height);
  justify-content: flex-start;
  z-index: var(--z-index-toolbar);
  position: relative;
  top: 0;
  margin: 0rem 0 2rem;
  background: var(--body-background);
}

@media screen and (min-width: 1024px) {
  .toolbar::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100vw;
    border-bottom: 1px solid var(--plentyGreysLimedSpruce);
    margin: var(--doc-margin--desktop);
    z-index: -1;
  }
}

.toolbar a {
  color: inherit;
}

.nav-toggle {
  background: url(../img/menu.svg) no-repeat 50% 47.5%;
  background-size: 49%;
  border: none;
  outline: none;
  line-height: inherit;
  height: 2.5rem;
  padding: 0;
  width: 2.5rem;
  margin-right: -0.25rem;
}

.nav-toggle.light {
  background: url(../img/menu-light.svg) no-repeat 50% 47.5%!important;
}

@media screen and (min-width: 1024px) {
  .nav-toggle {
    display: none;
  }
}

.nav-toggle.is-active {
  background-image: url(../img/back.svg);
  background-size: 41.5%;
}

.nav-toggle.light.is-active {
  background-image: url(../img/back-light.svg)!important;
  background-size: 41.5%!important;
}

.home-link {
  background: url(../img/home-o.svg) no-repeat 50% 45%;
  background-size: 50%;
  display: block;
  height: 2rem;
  width: 2rem;
  padding: 0.25rem;
  line-height: 1;
  margin-left: 40px;
}

.home-link::before {
  content: "\e90b";
  font-family: var(--plenty-icon-font-family);
  font-size: 1.5em;
}

.toolbar-actions {
  display: flex;
  margin-right: 0.75rem;
}

.toolbar-action:last-child {
  margin: 0;
}

@media screen and (min-width: 1024px) {
  .toolbar-action {
    display: block;
  }
}

.toolbar .toolbar-action {
  background: var(--toolbar-action-background);
  border-radius: 50%;
  padding: 0.25rem;
  margin-right: 0.5rem;
  font-size: var(--toolbar-actions-font-size);
  color: var(--toolbar-action-color);
  display: grid;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

.is-disabled {
  color: currentColor;
  cursor: not-allowed;
  text-decoration: none;
}

.is-disabled:hover {
  opacity: 1;
}

