@font-face {
  font-family: 'Graublau Sans';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/graublausans-bold-webfont.woff2) format('woff2'),
  url('../fonts/graublausans-bold-webfont.woff') format('woff'),
  url('../fonts/graublausans-bold-webfont.svg#graublau_sansbold') format('svg');
}
