html {
    /* font */
    --grau-blau-sans: "Graublau Sans";
    --source-sans-pro: "Source Sans Pro";
    --source-code-pro: "Source Code Pro";
    --box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
    --plenty-icon-font-family: "plentymarkets-icon-font" !important;
    --rem-base: 16;
    /* used to compute rem value from desired pixel value (e.g., calc(18 / var(--rem-base) * 1rem) = 18px) */
    --body-font-size: 1em;
    /* 16px */
    --body-font-size--desktop: 1.0625em;
    /* 17px */
    --body-font-size--print: 0.9375em;
    /* 15px */
    --body-line-height: 1.15;
    --body-font-color: var(--plentyWhite);
    --body-font-family: var(--source-sans-pro);
    --body-font-weight-bold: 500;
    --version-font-weight: 500;
    --monospace-font-family: "Source Code Pro", monospace;
    --monospace-font-weight-bold: 500;
    /* base */
    --body-background: var(--secondary-color);
    --panel-background: var(--accent-color);
    --panel-border-color: var(--primary-color);
    --scrollbar-thumb-color: var(--plentyGreysTwo);
    /* header */
    --dropdown-background-color: var(--primary-color);
    /* navbar */
    --navbar-font-color: var(--secondary-font-color);
    --navbar-background: var(--primary-color);
    --navbar-dropdown-background: var(--primary-color);
    --navbar_hover-background: var(--color-black);
    --navbar-button-background: var(--accent-color);
    --navbar-button-border-color: var(--panel-border-color);
    --navbar-button-font-color: var(--body-font-color);
    --navbar-menu-border-color: var(--panel-border-color);
    --navbar-menu-background: var(--accent-color);
    --navbar-menu-font-color: var(--body-font-color);
    --navbar-menu_hover-background: var(--color-smoke-50);
    /* docsearch */
    --docsearch-searchbox-background: var(--primary-color);
    --docsearch-muted-color: var(--primary-font-color);
    --docsearch-text-color: var(--primary-font-color);
    --docsearch-searchbox-header-focus-background: var(--primary-color);
    --docsearch-modal-background: var(--secondary-color);
    --docsearch-searchbox-focus-background: var(--primary-color);
    /* nav */
    --nav-background: var(--primary-color);
    --nav-active-border-color: var(--primary-font-color);
    --nav-active-color: var(--primary-font-color);
    --nav-active-hover-color: var(--primary-font-color);
    --nav-border-color: var(--highlight-color);
    --nav-color: var(--primary-font-color);
    --nav-hover-color: var(--primary-font-color);
    --nav-heading-font-color: var(--color-jet-30);
    --nav-line-height: 1.35;
    --nav-muted-color: var(--color-gray-70);
    --nav-panel-divider-color: var(--color-smoke-90);
    --nav-secondary-background: var(--color-smoke-70);
    /* toolbar */
    --toolbar-font-color: var(--secondary-font-color);
    --toolbar-action-background: var(--primary-color);
    --toolbar-action-color: var(--plentyWhite);
    --toolbar-border-color: var(--panel-border-color);
    --toolbar-muted-color: var(--color-gray-30);
    --toolbar-font-size: calc(13 / var(--rem-base) * 1rem);
    --toolbar-actions-font-size: 1rem;
    --page-version-menu-background: var(--plentyGreysOne);
    --page-version-missing-font-color: var(--color-gray-30);
    /* toc */
    --toc-font-color: var(--secondary-font-color);
    --toc-background-color: var(--accent-color);
    --toc-heading-font-color: var(--doc-font-color);
    --toc-left-border: var(--primary-color);
    --toc-focused-color: var(--doc-font-color);
    --toc-border-color: var(--highlight-color);
    --toc-line-height: 1.2;
    /* admonitions */
    --caution-on-color: var(--caution-color);
    --important-on-color: var(--important-color);
    --note-on-color: var(--note-color);
    --tip-on-color: var(--tip-color);
    --warning-on-color: var(--warning-color);
    /* logo list */
    --card-border-color: rgba(var(--plentyBlack), .125);
    --card-border-radius: 0;
    --card-border-width: 0.4em;
    --logo-list-a-height: 64px;
    --logo-list-a-line-height: 58px;
    --logo-list-image-height: 50px;
    --logo-list-image-width: 120px;
    --grid-gutter-width: 1.5rem;
    /* doc */
    --doc-font-color: var(--highlight-color);
    --doc-paragraph-color: var(--secondary-font-color);
    --doc-font-size: inherit;
    --doc-font-size--desktop: calc(19 / var(--rem-base) * 1rem);
    --doc-line-height: 1.6;
    --doc-margin: 0 auto;
    --doc-margin--desktop: 0 2rem;
    --heading-font-color: var(--highlight-color);
    --heading-font-weight: 500;
    --alt-heading-font-weight: var(--body-font-weight-bold);
    --section-divider-color: var(--highlight-color);
    --link_hover-font-color: var(--plentyBluesThree);
    --abstract-background: var(--color-smoke-70);
    --abstract-font-color: var(--color-jet-20);
    --abstract-border-color: var(--panel-border-color);
    --admonition-background: var(--accent-color);
    --admonition-label-font-weight: var(--body-font-weight-bold);
    --caption-font-color: var(--color-gray-70);
    --caption-font-weight: var(--body-font-weight-bold);
    --code-font-color: var(--highlight-color);
    --code-block-border-radius: 5px;
    --code-background: var(--accent-color);
    --collapsebox-background-color: var(--accent-color);
    --collapsebox-text-color: var(--secondary-font-color);
    --example-background: var(--plentyLightGrey);
    --example-border-color: var(--color-gray-70);
    --kbd-background: var(--panel-background);
    --kbd-border-color: var(--color-gray-10);
    --link-font-color: var(--plentyWhite);
    --link_unresolved-font-color: var(--plentyBluesThree);
    --pre-background: var(--panel-background);
    --pre-border-color: var(--panel-border-color);
    --pre-annotation-font-color: var(--color-gray-10);
    --quote-background: var(--panel-background);
    --quote-border-color: var(--color-gray-70);
    --quote-font-color: var(--color-gray-70);
    --quote-attribution-font-color: var(--color-gray-30);
    --sidebar-background: var(--color-smoke-90);
    --tabs-background-color-is-active: var(--primary-color);
    --tabs-background-color: var(--accent-color);
    --tabs-text-color-is-active: var(--primary-font-color);
    --tabs-text-color: var(--secondary-font-color);
    --table-heading-color: var(--highlight-color);
    --table-header-background-color: var(--accent-color);
    --table-borders-color: var(--highlight-color);
    --table-row-even: var(--accent-color);
    /* feedback-form */
    --feedback-form-background: var(--accent-color);
    --feedback-form-textarea-background: var(--secondary-color);
    --feedback-form-textarea-border: var(--highlight-color);
    --feedback-form-textarea-color: var(--highlight-color);
    --feedback-form-button-background-like: var(--plentyBluesThree);
    --feedback-form-button-color-like: var(--plentyWhite);
    --feedback-form-button-border-like: var(--plentyBluesThree);
    --feedback-form-button-background-dislike: var(--plentyRedsThree);
    --feedback-form-button-color-dislike: var(--plentyWhite);
    --feedback-form-button-border-dislike: var(--plentyRedsThree);
    /* footer */
    --footer-line-height: var(--doc-line-height);
    --footer-background: var(--footer-bg-color);
    --footer-background-color: var(--plentyGreysOne);
    --footer-font-color: var(--doc-font-color);
    --footer-link-font-color: var(--plentyWhite);
    --footer-link-hover-color: var(--link_hover-font-color);
    /* dimensions and positioning */
    --navbar-height: calc(120 / var(--rem-base) * 1rem);
    --toolbar-height: calc(45 / var(--rem-base) * 1rem);
    --drawer-height: var(--toolbar-height);
    --body-top: var(--navbar-height);
    --body-min-height: calc(100vh - var(--body-top));
    --nav-height: calc(var(--body-min-height) - var(--toolbar-height));
    --nav-height--desktop: var(--body-min-height);
    --nav-panel-height: calc(var(--nav-height) - var(--drawer-height));
    --nav-panel-height--desktop: calc(var(--nav-height--desktop) - var(--drawer-height));
    --nav-width: 18%;
    --toc-top: calc(var(--body-top) + var(--toolbar-height));
    --toc-height: calc(100vh - var(--toc-top) - 2.5rem);
    --toc-width: 18%;
    --toc-width--widescreen: calc(264 / var(--rem-base) * 1rem);
    --doc-max-width: calc(720 / var(--rem-base) * 1rem);
    --doc-max-width--desktop: calc(1200 / var(--rem-base) * 1rem);
    /* stacking */
    --z-index-nav: 1;
    --z-index-toolbar: 2;
    --z-index-page-version-menu: 3;
    --z-index-navbar: 4;

    /* redoc */
    --marking-background-color: var(--plentyGreysOne);
    --marking-color: var(--plentyWhite);
}
