<!DOCTYPE html>
<html lang="{{#if (eq page.attributes.lang 'de-de')}}de{{else}}en{{/if}}">
  <head>
{{> head defaultPageTitle='Page Not Found'}}
  </head>
  <body class="status-404">
{{> header}}
{{> body}}
{{> footer}}
  </body>
</html>
