<!DOCTYPE html>
<html lang="en">
<head>
    {{> head defaultPageTitle='Untitled'}}
</head>
<body class="homepage{{#with (or page.attributes.role page.role)}} {{{this}}}{{/with}}">

{{> header}}

<div class="main">
    <div class="hero-wrapper pb-5">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-6 title-wrapper">
                    <h1 class="title first">plentymarkets developers</h1>
                    <h4 class="title second">Welcome to plentymarkets developers.</h4>
                    <h4 class="title second">Get started with one of the links below, or open the site search by pressing <kbd>CTRL</kbd>+<kbd>K</kbd> (Windows/Linux) or <kbd>CMD</kbd>+<kbd>K</kbd> (macOS).</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="tiles-outer-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 offset-sm-1">
                    <div class="row">
                        <div class="col-md-12 tile-wrapper">
                            <a href="/en-gb/developers/main/tutorial/getting-started.html">
                                <div class="tile">
                                    <img src="/en-gb/_/img/tile-1.svg" alt="home-logo">
                                </div>
                                <span class="tile-title">Getting started with PluginA</span>
                            </a>
                        </div>

                        <div class="col-md-4 tile-wrapper">
                            <a href="/en-gb/developers/main/plugin-architecture.html">
                                <div class="tile">
                                    <img src="/en-gb/_/img/tile-2.svg" alt="home-logo">
                                </div>
                                <span class="tile-title">PluginA</span>
                            </a>
                        </div>

                        <div class="col-md-4 tile-wrapper">
                            <a href="/en-gb/developers/main/plentyshop-plugins/overview.html">
                                <div class="tile">
                                    <img src="/en-gb/_/img/tile-3.svg" alt="home-logo">
                                </div>
                                <span class="tile-title">plentyShop LTS</span>
                            </a>
                        </div>

                        <div class="col-md-4 tile-wrapper">
                            <a href="https://pwa-docs.plentymarkets.com/" target="_blank">
                                <div class="tile">
                                    <img src="/en-gb/_/img/tile-3.svg" alt="home-logo">
                                </div>
                                <span class="tile-title">plentyShop PWA</span>
                            </a>
                        </div>


                        <div class="col-md-4 tile-wrapper">
                            <a href="/en-gb/developers/main/plugin-architecture.html">
                                <div class="tile">
                                    <img src="/en-gb/_/img/tile-2.svg" alt="home-logo">
                                </div>
                                <span class="tile-title">Plugins</span>
                            </a>
                        </div>

                        <div class="col-md-4 tile-wrapper">
                            <a href="/en-gb/plentymarkets-rest-api/index.html">
                                <div class="tile">
                                    <img src="/en-gb/_/img/tile-4.svg" alt="home-logo">
                                </div>
                                <span class="tile-title">plentymarkets REST API</span>
                            </a>
                        </div>

                        <div class="col-md-4 tile-wrapper">
                            <a href="/en-gb/plentybase-rest-api/index.html">
                                <div class="tile">
                                    <img src="/en-gb/_/img/tile-6.svg" alt="home-logo">
                                </div>
                                <span class="tile-title">plentyBase REST API</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="stack-wrapper pb-3 mt-md-5">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h6 class="title pb-1">TECHNOLOGY STACK</h6>
                    <h2 class="title pb-3">What keeps the fire burning</h2>
                    <div class="stack-inner-wrapper row">
                        <div class="logo-wrapper col-sm-2">
                            <img src="/en-gb/_/img/stack-1.png" alt="home-logo">
                        </div>

                        <div class="logo-wrapper col-sm-2">
                            <img src="/en-gb/_/img/stack-2.png" alt="home-logo">
                        </div>

                        <div class="logo-wrapper col-sm-2">
                            <img src="/en-gb/_/img/stack-3.png" alt="home-logo">
                        </div>

                        <div class="logo-wrapper col-sm-2">
                            <img src="/en-gb/_/img/stack-4.png" alt="home-logo">
                        </div>

                        <div class="logo-wrapper col-sm-2">
                            <img src="/en-gb/_/img/stack-5.png" alt="home-logo">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{> footer}}
{{> body-scripts}}
</body>
</html>
