<!DOCTYPE html>
<html>
<head>
  {{> head defaultPageTitle='Untitled'}}
</head>
<body class="redoc">
{{> header}}
<div id="redoc-container"></div>
<script src="https://cdn.jsdelivr.net/npm/redoc@next/bundles/redoc.standalone.js"></script>
<script>
Redoc.init('{{ page.attributes.specurl }}', {
  scrollYOffset: "header > .navbar > .container-fluid",
  nativeScrollbars: true,
  noAutoAuth: true,
  theme: {
    menu: {
      backgroundColor: '#04485b',
      textColor: 'white',
      width: '23.75rem',
    },
    colors: {
      primary: {
        main: '#fbfbfb'
      },
      text: {
        primary: '#fbfbfb',
      },
      success: {
        main: '#12c924'
      },
      error: {
        main: '#ff0400'
      },
    }
  }
}, document.getElementById('redoc-container'))
</script>
{{> body-scripts}}
{{> footer}}
</body>
</html>
