<!DOCTYPE html>
<html>
<head>
  {{> head defaultPageTitle='Untitled'}}
</head>
<body class="redoc">
{{> header}}
<redoc spec-url={{ page.attributes.specurl }}></redoc>
<script src="https://cdn.jsdelivr.net/npm/redoc@next/bundles/redoc.standalone.js"></script>
{{> footer}}
</body>
</html>
